body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
}

img{
  box-shadow: 2px 2px 2px #02010a;
}

#cabecera{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  color: white;
  margin:0px;
  padding: 10px;
}

#cabecera h1{
  flex-direction: column;
  text-shadow: 2px 2px #02010a;
}

#menu{
  flex-direction: column;
  margin-left: auto;
  padding: 10px;
}

#menu ul{
  list-style-type: none;
}

#menu ul li{
  display: inline-block;
  padding: 10px;
}

#menu ul li a{
  color: white;
}

#menu ul li:nth-child(2) a{
  text-decoration: none;
}

#galeria{
  background: #d5c75f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#galeria img{
  width: 30%;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #02010a;
  margin: 20px;
}

#galeria img:first-child{
  -webkit-filter: blur(10px);
}

#galeria img:nth-child(even){
  -webkit-filter: grayscale(100%);
}

#galeria img:nth-child(3){
  -webkit-filter: sepia(90%);
}


footer{
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  width: 100%
}

footer div{
  flex-direction: column;
  margin: 2px 20px;
  padding: 2px 20px;
}

footer div h2{
  margin: 0px;
  padding: 0px;
}

footer #networking{
  display: flex;
  flex-direction: column;
}
